[{elr, [

]},
{pgapp, [
    {pools, [
        {pgdb, [
                {size, 5},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "erl"},
                {username, "dbuser"},
                {password, "pwd0123456789"}
            ]}
        ]
    }]
}].
